<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="barra">
            <a href="" >
                <img src="./assets/images/Navbar/Logo_biblioteca.png" alt="" class="LogoMarvel">
            </a>
            <a href="" >
                <img src="./assets/images/Navbar/Marvel_Logo.png" alt="" class="LogoMarvel">
            </a>
            <input type="text" class="inputb">
    
            <a href="" >
                <img src="./assets/images/Navbar/notification.png" alt="" class="Logonotificacion">
            </a>
            <a href="" >
                <img src="./assets/images/Navbar/user.png" alt="" class="Logouser">
            </a>
            
        </div>
       
      
      

        
    </div>
    <div class="nav2">
        <a href="" class="td">NEWS</a>
        <a href="/auth/comics" class="td">COMICS</a>
        <a href="" class="td">CHARACTERS</a>
        <a href="" class="td">MOVIES</a>
        <a href="" class="td">TV SHOWS</a>
        <a href="" class="td">GAMES</a>
        <a href="" class="td">VIDEOS</a>
        <a href="" class="td">MORE</a>     
      
       
    </div>
    
</body>
</html>